@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /* Roboto 400 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

button {
  cursor: pointer;
}

body {
  width: 300px;
}

.header {
  position: relative;

  height: 64px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #F9F9F9;
}

.header__settings-icon {
  display: none;

  position: absolute;
  top: 22px;
  right: 22px;

  cursor: pointer;
}

.divider {
  border: 1px solid #008296;
}

.content {
  padding: 24px 24px 32px 24px;
}

.login__head,
.subscribe__head {
  margin-bottom: 23px;

  font-size: 18px;
  line-height: 140%;

  color: #008296;
} 

.login__description,
.subscribe__description {
  margin-bottom: 43px;

  font-size: 16px;
  line-height: 140%;

  color: #4F4F4F;
}

.subscribe__head,
.subscribe__description {
  margin-bottom: 22px;
}

.login__button {
  width: 100%;

  padding: 10px 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #F7BE00;

  border: 1px solid #F7BE00;
  box-sizing: border-box;
  border-radius: 4px;

  font-family: Verdana;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #150400;
}

.login__button-image,
.subscribe__button-image {
  margin-right: 8px;
}

.subscribe__button {
  width: 100%;
  padding: 10px 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Verdana;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #6772E5;
  background-color: #ffffff;

  border: 1px solid #6772E5;
  box-sizing: border-box;
  border-radius: 4px;
}

.subscribe-info {
  margin-top: 16px;
  margin-bottom: 64px;

  display: flex;
}

.subscribe-info-status,
.subscribe-billing-date {
  width: 110px;
}

.subscribe-info-status {
  margin-right: 26px;
}

.subscribe-info-status__head,
.subscribe-billing-date__head {
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 140%;

  color: #423F3F;
}

.subscribe-info-status__current-status,
.subscribe-billing-date__date {
  font-size: 18px;
  line-height: 140%;

  color: #008296;
}

.subscribe-status__button {
  width: 100%;
  padding: 10px 0;

  background: #F7BE00;

  border: 1px solid #F7BE00;
  box-sizing: border-box;
  border-radius: 4px;
}

.subscribe-status__button-text {
  font-family: Verdana;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #150400;
}

.footer {
  height: 32px;

  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #F9F9F9;
}

.footer__email {
  font-size: 14px;
  line-height: 16px;

  color: #150400;
}

.footer__exit-button {
  display: none;

  cursor: pointer;
}
