.modal {
  position: absolute;
  top: 13px;
  right: 0;
  width: 33%;
  background: #f4f4f4;
  border: 1px solid #ccc;
  transition: 1.1s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.modal.off {
  opacity: 0;
  visibility: hidden;
}

.modal__title {
  background: #e6e6e6
    url(https://images-na.ssl-images-amazon.com/images/G/01/nav2/prod/rainierCoreCSS/titlebargrad._V192548835_.gif)
    repeat-x;
  border-bottom: 1px solid #ccc;
  padding: 0.2rem !important;
  color: red !important;
  text-align: center;
}

.modal__content {
  padding: 0 10px 10px !important;
}

.modal__actions {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #ccc;
  padding: 10px !important;
}

.modal__button {
  border: 0;
  border-radius: 5px;
  background-position: right -149px;
  background-color: transparent;
  background-image: url(https://sellercentral.amazon.com/css/images/fba/btn-sprite.png);
  background-repeat: no-repeat;
  padding: 1px 6px !important;
  padding-right: 5px !important;
}

.modal__button span {
  display: block;
  background-color: transparent;
  background-image: url(https://sellercentral.amazon.com/css/images/fba/btn-sprite.png);
  background-repeat: no-repeat;
  background-position: left -120px;
  padding: 3px 6px 5px 11px !important;
  border: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  white-space: nowrap;
}

.top20 {
  top: 20px;
}

.m0 {
  margin: 0 !important;
}

.mt10 {
  margin-top: 10px !important;
}

.p4 {
  padding: 4px !important;
}

#continueAutocomplite, #stopAutocomplite, #acceptWarning {
  margin-top: 20px;
}
