/* ------- Reset ------- */

@import '../fonts';

*,
*::before,
*::after {
  box-sizing: border-box;
}

textarea {
  font-family: 'Robot', Verdana, Tahoma, sans-serif;
}

body {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-columns: 0.6fr 2fr 2fr;
  grid-template-areas:
    'aside header header'
    'aside main main'
    'aside main main';
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Robot', Verdana, Tahoma, sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

/* ------- Aside ------- */

.aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.aside__item {
  position: relative;
  display: block;
  width: 70%;
  height: auto;
  padding: 25px;
  background-color: #fff;
  border-radius: 10.08px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  transition: box-shadow 0.1s ease-in-out;
  z-index: 3;
}

.aside__item.is-active,
.aside__item:hover {
  box-shadow: 0 0 1px 1px #000;
}

.aside__item:not(:last-child) {
  margin-bottom: 40px;
}

.aside__img {
  position: relative;
  width: 100%;
  max-height: 100%;
  z-index: -1;
}

/* ------- Header ------- */

.header {
  grid-area: header;
  padding: 0 5%;
}

.header__nav {
  margin-bottom: 5%;
}

/* ------- Nav ------- */

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  width: 100%;
}

.nav__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 15%;
  height: 145px;
  background-color: #fff;
  border: none;
  outline: none;
  pointer-events: none;
  cursor: pointer;
  border-radius: 8px;
}

.nav__item.is-current {
  background: #f9f9f9;
}

.nav__item:hover,
.nav__item.is-active {
  background: #f9f9f9;
  border: 1px solid #00857d;
  pointer-events: initial;
}

.nav__item.is-complete {
  border: 1px solid #ffb800;
  pointer-events: initial;
}

.nav__title {
  width: 80%;
  font-weight: 400;
}

.nav__img {
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
}

.nav__btn {
  cursor: pointer;
}

/* ------- Progress ------- */

.progress {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.progress-track {
  position: absolute;
  top: 3px;
  width: 100%;
  height: 3px;
  background-color: #dfe3e4;
  z-index: -1;
}

.progress-track::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 8.5%;
  height: 3px;
  background-color: #00857d;
}

.progress-step {
  position: relative;
  width: 100%;
  padding: 0 10%;
}

.progress-step:last-child:after {
  display: none;
}

.progress-step:before {
  content: '\f00c';
  position: relative;
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 10px;
  height: 10px;
  background: #00857d;
  border: 4px solid #00857d;
  border-radius: 100%;
  color: transparent;
}

.progress-step:after {
  content: '';
  position: absolute;
  top: 6px;
  left: 50%;
  width: 0%;
  height: 3px;
  z-index: -1;
}

.progress-step.is-active {
  color: #00857d;
}

.progress-step.is-active:before {
  background-color: #00857d;
  animation: pulse 2s infinite;
}

.progress-step.is-active:after {
  top: -5px;
  left: 50%;
  height: 20px;
  width: 20px;
  border: 1px solid #00857d;
  border-radius: 100%;
  animation: pulse 1.5s infinite;
  transform-origin: center;
  transform: translateX(-50%);
}

.progress-step.is-complete {
  color: #00857d;
}

.progress-step.is-complete:after {
  background: #00857d;
  animation: nextStep 0.3s;
  animation-fill-mode: forwards;
  top: 3px;
}

.progress-step.is-complete:before {
  background: #00857d;
  border: 4px solid transparent;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(33, 131, 221, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(33, 131, 221, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(33, 131, 221, 0);
  }
}

@keyframes nextStep {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.container {
  margin: 50px 100px;
}

.progress__btn {
  position: absolute;
  bottom: 20px;

  padding: 8px 75px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  outline: none;
}

.progress__btn-prev {
  right: 250px;
  background-color: transparent;
  color: #00857d;
  border: 1px solid #00857d;
  transition: border-color 0.2s ease-in-out;
}

.progress__btn-prev:hover {
  border-color: #ffcc49;
}

.progress__btn-next {
  right: 50px;
  background-color: #f7be00;
  transition: background-color 0.2s ease-in-out;
}

.progress__btn-next.disabled {
  background-color: #dedede;
}

.progress__btn-next:hover {
  background-color: #ffcc49;
}

/* ------- main ------- */

.main {
  grid-area: main;
  overflow: hidden;
}

.main__step-3 .form__fieldset:nth-of-type(1) {
  width: 40%;
}

.main__step-3 .form__fieldset:nth-of-type(2) {
  width: 60%;
}

.main__step-3 .form__fieldset:nth-of-type(2) .form__wrapper {
  justify-content: start;
}

.main__step-5 .form__wrapper {
  justify-content: start;
  align-items: center;
  gap: 0 10px;
}

.main__step-5 .form__column:nth-of-type(1) {
  width: 60%;
}

.main__step-5 .form__column:nth-of-type(2) {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.main__step-5 .question__texarea {
  width: 100%;
}

/* ------- content ------- */

.content {
  padding: 80px;
}

.content:not(.amazon-item):nth-of-type(2),
.content:not(.amazon-item):nth-of-type(3),
.content:not(.amazon-item):nth-of-type(4),
.content:not(.amazon-item):nth-of-type(5) {
  display: none;
}

.content__question {
  margin-top: 10px;
}

.amazon .content__question {
  display: flex;
  margin-top: 0;
}

.amazon .question__title {
  margin-bottom: 0;
}

.amazon .question__label {
  display: block !important;
}

.content__wrapper {
  display: flex;
  flex-direction: column;
}

.amazon .content__wrapper {
  margin-bottom: 50px;
}

/* ------- question ------- */

.question__title {
  margin: 0 0 20px;
  white-space: pre-line;
  font-weight: 500;
  white-space: pre-line;
}

.question__label {
  position: relative;
  bottom: 2px;
  left: 4px;
  margin-right: 15px;
}

.amazon .question__label {
  position: relative;
  white-space: pre-line;
}

.amazon .question__label::before {
  top: 25px !important;
}

.question__texarea {
  width: 65%;
  resize: none;
  padding: 10px;
}

.question__wrapper {
  margin-top: 20px;
  margin-left: 50px;
}

.question__select {
  padding: 5px;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
}

.content__label {
  margin: 20px 0 15px;
}

/* ------- form ------- */

.form {
  display: flex;
  justify-content: space-between;
}

.form__fieldset {
  margin: 32px 0 0;
  padding: 0;
  width: 40%;
  border: none;
}

.form__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__wrapper > .form__label {
  width: 40%;
}

.amazon-item .form__wrapper > .form__label {
  width: 100%;
}

.form__column:not(:last-child) {
  margin-right: 50px;
}

.form__wrapper:nth-of-type(2) {
  margin-bottom: 20px;
}

.form__label {
  display: block;
  margin-bottom: 12px;
}

.form__input,
.form__select {
  display: block;
  margin-top: 12px;
  width: 100%;
  padding: 5px;
}

.form__btn-new {
  position: relative;
  top: 8px;
  left: 20px;
  padding: 6px 15px 6px 25px;
  background-color: transparent;
  border: 1px solid #016862;
  border-radius: 24px;
  color: #016862;
  cursor: pointer;
}

.form__btn-new::before {
  content: '+';
  position: absolute;
  top: 6px;
  left: 9px;
  font-size: 16px;
}

.form__label-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form__label-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
}

[type='checkbox']:hover input ~ .checkmark {
  background-color: #ccc;
}

.form__label-checkbox input:checked ~ .checkmark {
  background-color: #ffb800;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.form__label-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.form__label-checkbox .checkmark:after {
  left: 4.5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form__label-checkbox.reversed {
  font-size: 18px;
  padding-right: 30px;
  color: #00857d;
}

.form__label-checkbox.reversed .checkmark {
  left: auto;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-color: #00857d;
}

.form__label-checkbox.reversed input:checked ~ .checkmark {
  background-color: #00857d;
}

.form__label-checkbox.reversed .checkmark::after {
  top: 3px;
  left: 6px;
  border-color: #000;
}

.form__label-checkbox .checkmark:after {
  top: 1px;
  left: 4px;
  border-color: #000;
}

[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #000;
  border-radius: 100%;
  background: #fff;
}
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #00857d;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.amazon [type='radio']:checked + label:after,
.amazon [type='radio']:not(:checked) + label:after {
  top: 28px;
}

[type='radio']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* ------- quantity ------- */

.quantity {
  position: relative;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.quantity input {
  width: fit-content;
  line-height: 1.65;
  padding: 5px 15px;
  padding-left: 20px;
  margin-left: 33px;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  position: absolute;
  top: 32px;
  left: 35px;
  display: flex;
  flex-direction: row-reverse;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border: 2px solid #00857d;
  border-radius: 4px;
  width: 24px;
  text-align: center;
  color: #00857d;
  font-size: 13px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  left: 80px;
}

.quantity-button.quantity-down {
  right: 10px;
}

/* ------- add-new ------- */

.add-new {
  position: relative;
  top: 8px;
  display: flex;
  align-items: center;
  left: 30px;
}

.add-new__input {
  width: 250px;
  padding: 5px 20px 5px 5px;
  border: 1px solid #016862;
  border-radius: 3px;
}

.add-new__btn {
  position: absolute;
  right: 5px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 100%;
  background-color: #016862;
  color: #fff;
  cursor: pointer;
}

/* ------- amazon ------- */

.amazon {
  display: none;
}

.amazon-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.amazon-item .progress-track::before {
  width: 12.5%;
  background-color: #f7be00;
}

.amazon-item .progress-step::before {
  background-color: #f7be00;
  border: 4px solid #f7be00;
}

.amazon-item .progress-step.is-active::before {
  animation: amazonPulse 2s infinite;
}

.amazon-item .progress-step.is-complete::after {
  background-color: #f7be00;
}

.amazon-item .progress-step.is-active::after {
  border: 1px solid #f7be00;
  animation: amazonPulse 1.5s infinite;
}

.google-signIn {
  position: absolute;
  top: 25px;
}

.subscribe-button {
  display: none;
  position: absolute;
  top: 50px;
}

@keyframes amazonPulse {
  0% {
    box-shadow: 0 0 0 0 rgba(238, 164, 3, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(238, 164, 3, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(238, 164, 3, 0);
  }
}
