html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 300px;
  background: #008296;
  font-family: 'Quicksand', trebuchet ms;
}

.button {
  display: block;
  padding: 15px;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 25px;
  background-color: #ff9900;
  cursor: pointer;
  box-shadow: 0 0 5px 0 #000;
  transition: transform 0.15s ease-in-out;
  outline: none;
}

.button:not(:last-child) {
  margin-bottom: 50px;
}

.button:hover {
  transform: scale(1.1);
}

.button:active {
  transform: scale(0.98);
}
